# Dependências
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Arquivos de build
dist/
build/
.serverless/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/editor
.idea/
.vscode/
*.swp
*.swo
